<div class="container text-center">
  <div class="header-title text-center">
    <h3><strong><%= @cocktail.name %></strong></h3>
  </div>
    <div class="container-description text-center">
      <% @doses.each do |dose|%>
        <p>- <%= dose.name%> <%= dose.description%> <%= dose.ingredient.name %></p>
      <% end %>
    </div>
    <%= link_to "Back", cocktails_path, class: "btn btn-default" %>
    <%= link_to "Custom cocktail", new_cocktail_dose_path(@cocktail), class: "btn btn-default" %>
</div>
